---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import { Image } from 'astro:assets';
import BlurImage from '../components/BlurImage.astro';
import earthDayPoster from '../assets/images/playground/earth_day_poster/1.png';
import tennisBall from '../assets/images/playground/photography/Tennins_Ball_Bounce-optimized.gif';
import sunRises from '../assets/images/playground/the_sun_always_rises/DSC01707 copy 2.jpg';
import ballColumn from '../assets/images/playground/ball column/BallColumn.png';
import spinLock from '../assets/images/playground/travel_safe_animation/Spin-Lock.gif';
import r5Photo from '../assets/images/playground/photography/R5.jpg';
import img1191 from '../assets/images/playground/photography/IMG_1191.jpeg';
import farmCloud from '../assets/images/playground/Illustrations/Farm-&-Cloud.gif';
import dsc01480 from '../assets/images/playground/photography/DSC01480 copy.jpg';
import dsc04056 from '../assets/images/playground/photography/DSC04056.jpg';
import dsc03858 from '../assets/images/playground/photography/DSC03858.jpg';
import image1 from '../assets/images/playground/photography/Image1.jpg';
import ivySpin from '../assets/images/playground/Ivy_Animation/ivy_spin_animation_text-2.gif';
import sun from '../assets/images/playground/Illustrations/Sun.jpg';
import spinSphere from '../assets/images/playground/travel_safe_animation/Spinning-sphere.gif';
import muchosObjectivos from '../assets/images/playground/Illustrations/Muchos Objectivos.jpg';
import donQuixote from '../assets/images/playground/Book Covers/Don Quixote Mockup-1 2.png';
import ivyPoster from '../assets/images/playground/Ivy_Animation/SCCT-ivy_its_here_poster-r2.png';
import dsc04071 from '../assets/images/playground/photography/DSC04071.jpg';
import dsc01735 from '../assets/images/playground/the_sun_always_rises/DSC01735-WEB.jpg';
import dsc00952 from '../assets/images/playground/photography/DSC00952.jpg';
import img1418 from '../assets/images/playground/the_sun_always_rises/IMG_1418.jpeg';

---

<html lang="en">
<head>
    <Head Title='Playground'/>
    <script defer src="/playground/app.js" is:inline></script>
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border">
    <div>
    <Navbar />
    <Menu />
  <!--Playground-->
  <div class="grid-cols-scale px-3 pt-20 lg:pt-40 pb-20 md:px-8">
  <div class="text-dsm md:text-dmd lg:text-dlg text-black dark:text-white font-medium col-span-4 md:col-span-8 lg:col-start-2 lg:col-span-9">Welcome to the Playground</div>
  <div class="text-blg tracking-normal text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light col-span-4 pt-5 md:col-span-8 lg:col-start-2 lg:col-span-7">Throughout my life, I've worked on a wide range of design projects, but not all of them evolve into full case studies. The Playground highlights the most interesting elements from these projects for you to explore. Here, you'll find work in <b> photography, studio photography, video editing, sound design, cover design, poster design, animation, visual effects, compositing, 3D modeling, and screen printing. </b></div>
  
  <!--Image Gallery-->
  <div class="col-span-4 md:col-span-8 lg:col-start-2 lg:col-span-10 pt-20 w-full grid grid-cols-2 md:grid-cols-4 gap-5">
    <div class="flex flex-col gap-5">
        <!-- <Image src={earthDayPoster} alt="Earth Day poster"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/> -->
        <BlurImage src={tennisBall} alt="Tennis ball bounce animation"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={sunRises} alt="Sunrise photograph"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <video src="/playground/images/colorado_trip/Colorado 2023.mp4" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
        <BlurImage src={r5Photo} alt="R5 photograph"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={ballColumn} alt="Ball column visualization"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={spinLock} alt="Spinning lock animation"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
    </div>

    <div class="flex flex-col gap-5">
        <BlurImage src={spinSphere} alt="Spinning sphere animation"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <video src="/playground/images/hot_coffee/That's an awfully hot coffee pot.mov" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
        <BlurImage src={img1191} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={farmCloud} alt="Farm and cloud illustration"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={dsc01480} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={dsc04056} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={dsc03858} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
    </div>

    <div class="flex flex-col gap-5">
        <video src="/playground/images/airplane_red_carpet/red carpet for private jet looping60fps.mp4" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
        <BlurImage src={image1} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={ivySpin} alt="Ivy spin animation"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={sun} alt="Sun illustration"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <video src="/playground/images/its_a_beautiful_world/its a beautiful world-R4.mp4" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
        <BlurImage src={muchosObjectivos} alt="Muchos Objectivos illustration"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={donQuixote} alt="Don Quixote book cover"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <video src="/playground/images/particle_cloud/0001-0250.mp4" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
    </div>

    <div class="flex flex-col gap-5">
        <BlurImage src={ivyPoster} alt="Ivy poster"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <video src="/playground/images/ladder_shatter/Ladder Shatter PR Final.mp4" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
        <BlurImage src={dsc04071} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <video src="/playground/images/chronological_alphabet/The Chronological Alphabet_1.mp4" class="pg-img-cover cursor-pointer col-span-2 rounded-lg" autoplay loop muted playsinline data-object-fit="cover"></video>
        <BlurImage src={dsc01735} alt="Sunrise photograph"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={dsc00952} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
        <BlurImage src={img1418} alt="Photography piece"  class="pg-img-cover cursor-pointer col-span-2 rounded-lg"/>
    </div>
  </div>
</div>
</div>
</div>
<Footer Primary='About Me' PrimaryLink='about' Secondary='Work' SecondaryLink='work'/>
</div>
<!--Card-->
<div class="hidden fixed top-0 left-0 p-3 md:pt-6 w-full h-screen bg-black bg-opacity-50 justify-center" id="cardContainer" onclick="closeCard()">
    <div class="p-3 md:p-5   content-center" id="card">
    </div>
    <a href="javascript:void(0);" class="hidden md:block close p-3 md:p-5" onclick="closeCard()">
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="19.4717" y="2.26416" width="3.16981" height="24" transform="rotate(45 19.4717 2.26416)" class="fill-white"/>
                <rect x="21.7358" y="19.2347" width="3.16981" height="24" transform="rotate(135 21.7358 19.2347)" class="fill-white"/>
            </svg>
        </i>
    </a>
</div>

</body>
</html>