---
// Component Imports
import '../styles/base.css';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'
import { Image } from 'astro:assets';
import img1 from '../assets/images/project-play/1.jpg'
import img2 from '../assets/images/project-play/2.jpg'
import img3 from '../assets/images/project-play/3.jpg'
import img4 from '../assets/images/project-play/4.jpg'
import img5 from '../assets/images/project-play/5.jpg'
import img6 from '../assets/images/project-play/6.jpg'
import img7 from '../assets/images/project-play/7.png'
import img8 from '../assets/images/project-play/8.png'
import img9 from '../assets/images/project-play/9.jpg'
import img10 from '../assets/images/project-play/10.jpg'
import img11 from '../assets/images/project-play/11.jpg'
import img12 from '../assets/images/project-play/12.jpg'
import img13 from '../assets/images/project-play/13.jpg'
import img14 from '../assets/images/project-play/14.jpg'
import img15 from '../assets/images/project-play/15.jpg'
import img16 from '../assets/images/project-play/16.jpg'
import img17 from '../assets/images/project-play/17.jpg'
import img18 from '../assets/images/project-play/18.jpg'
import img19 from '../assets/images/project-play/19.jpg'
import img20 from '../assets/images/project-play/20.jpg'
import img21 from '../assets/images/project-play/21.jpg'
import img22 from '../assets/images/project-play/22.jpg'
import img23 from '../assets/images/project-play/23.jpg'
import img24 from '../assets/images/project-play/24.jpg'
import img25 from '../assets/images/project-play/25.jpg'
import img26 from '../assets/images/project-play/26.jpg'
import img27 from '../assets/images/project-play/27.jpg'
import img28 from '../assets/images/project-play/28.jpg'
import img29 from '../assets/images/project-play/29.jpg'

const seo = {
  title: 'Play',
  description: `"Play" is a conceptual exhibition sponsored by für Gestaltung Zürich, designed for children to explore independently. The exhibition aims to highlight the universal nature of play that is rooted in modernist ideals. It features works by toy designers from Czechia, America, Switzerland, Netherlands, and Germany, all active between 1920 and 1970. The project showcases how Bauhaus and Modernist principles in toy design can transcend international boundaries, asserting that play is a universal language. To enhance the experience, age-specific field guides and an informative booklet for caregivers were created, embracing the Swiss international style. The exhibition's identity, utilizing basic shapes and the Akzidenz Grotesk typeface, provides a cohesive and recognizable experience across diverse cultures, aiming to offer insights into the interaction between design, children, and parental considerations.`,
  shareImage: '../assets/images/project-play/1.jpg'
};
---
<DefaultLayout title={seo.title} description={seo.description} shareImage={seo.shareImage}>
<Gtag/>
    <Navbar />
    <Menu />
    <!--Project-->
    <div class="bg-[#FFD600] p-4 absolute top-[90%] right-[0%] flex flex-row gap-3 rounded-l-md items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
        <path d="M8.76631 0.717387C9.07761 -0.178173 10.3441 -0.178173 10.6554 0.717388L12.1786 5.0994C12.316 5.49447 12.6846 5.76234 13.1028 5.77086L17.741 5.86538C18.689 5.8847 19.0803 7.08924 18.3248 7.66205L14.628 10.4648C14.2947 10.7175 14.1538 11.1509 14.275 11.5512L15.6184 15.9917C15.8929 16.8992 14.8683 17.6436 14.09 17.1021L10.2821 14.4523C9.93874 14.2134 9.48301 14.2134 9.1397 14.4523L5.33173 17.1021C4.55349 17.6436 3.52884 16.8992 3.8034 15.9917L5.1468 11.5512C5.26791 11.1509 5.12708 10.7175 4.79379 10.4648L1.09694 7.66205C0.341403 7.08924 0.732784 5.8847 1.68071 5.86538L6.31894 5.77086C6.73711 5.76234 7.1058 5.49447 7.24313 5.0994L8.76631 0.717387Z" fill="white"/>
      </svg>
      <div class="text-llg tracking-widest mt-1">GOLD ADDY AWARD</div>
    </div>
    <Image src={img1} alt="" class="h-lvh w-full object-cover" />
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <ProjectHeader 
          Title='PLAY' 
          Visible1=`` Info1='Project Management, Creative Direction, Book Design'
          Visible2=`` Info2='InDesign, Illustrator, Photoshop, Cinema 4D'
          Visible3=`` Info3='Ellie Gramm, Jackson Knight, Rebekah Smith'
          Visible4=`` Info4='AMERICAN ADVERTISING AWARDS GREENVILLE 2024: Gold Addy - Special Event Materials'
          Body={seo.description}
          studentWork=''
          />
          <video src="project-play/public/images/1.mp4" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:mt-32 lg:col-start-2 lg:col-span-10 w-full reveal" autoplay loop muted playsinline playsinline data-object-fit="cover"></video>
          <Image src={img2} alt="Image 1" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal" />
            <Image src={img3} alt="Image 3" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal" />
            <Image src={img4} alt="Image 4" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal" />
            <Image src={img5} alt="Image 5" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal" />
            <Image src={img10} alt="Image 10" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img7} alt="Image 7" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img11} alt="Image 11" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img8} alt="Image 8" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img28} alt="Image 28" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img12} alt="Image 12" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img13} alt="Image 13" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img14} alt="Image 14" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal" />
            <Image src={img15} alt="Image 15" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal" />
            <Image src={img16} alt="Image 16" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal" />
            <Image src={img17} alt="Image 17" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal" />
            <Image src={img18} alt="Image 18" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img19} alt="Image 19" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img20} alt="Image 20" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
            <Image src={img21} alt="Image 21" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-4 w-full reveal" />
            <Image src={img22} alt="Image 22" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-6 lg:col-span-6 w-full reveal" />
            <Image src={img23} alt="Image 23" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal" />
            <Image src={img24} alt="Image 24" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal" />
            <Image src={img25} alt="Image 25" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" />
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="header">Opportunity</div>
            <div class="body-copy mt-2 mb-14">We wanted to display the ways that Bauhaus and Modernist ideals within toys can be internationally implemented. Play is a universal language that is not bound by borders. Furthermore, we want to reveal the ways that design interacts with children and insight into parents a consideration of these facts.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Outcome</div>
            <div class="body-copy mt-2 mb-14">As a team, we created a children’s exhibition sponsored by für Gestaltung Zürich that displays a selection of works by toy designers who embodied reductive and foundational principles. All designers worked between the years of 1920 to 1970 and are from the countries of Czechia, America, Switzerland, Netherlands, or Germany. This exhibit is accompanied by guidebooks for children and an informative booklet for caregivers. In order to make an experience that is cohesive throughout cultures, the exhibit and guidebooks were designed with the Swiss international style.</div>
          </div>
          <Image src={img27} alt="Image 27" alt="" width="800" height="600" class="self-center rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-4 w-full reveal" />
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Mark</div>
            <div class="body-copy mt-2 mb-14">The mark was inspired by the typefaces of Josepf Albers, specifically Architype Albers. The forms are simple, modular, and meant to mimic blocks that children play with. The corners are slightly rounded to create a softer expression. Another important aspect of the mark is that there are no concentric forms, which is important since it would need to be capable of being die-cut. The mark can also be deconstructed to create a variety of different patterns.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="header">Typeface</div>
            <div class="body-copy mt-2 mb-14">The typeface we chose for the exhibition is Akzidenz Grotesk. It was chosen for its simplicity, legibility, and modernist expression. It was important that all documents were extremely legible, but we still wanted to maintain a connection to the identity of für Gestaltung Zürich.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Color Palette</div>
            <div class="body-copy mt-2 mb-14">When tackling the color palette for the exhibition's identity we knew it had to be primary in essence to connect to ur message and forms but we still wanted it to stand out against the myriad of other children-focused identities. To solve this we started with the base colors of red, blue, and yellow, and began branching off of them. We then stepped back and analyzed our branches and created a harmonious collection of colors that were distinctive but still felt primary.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="header">Exhibit</div>
            <div class="body-copy mt-2 mb-14">The exhibit space was designed to promote exploration and self-education within the children and allow for careful examination from the caregivers. The floorplan is extremely open with the different sections of the exhibition following the edges of the space. In the center of the space is a circular seating area for the caregivers. Children are allowed to run free and explore on their own as guided by their booklet. The parents on the other hand are encouraged to sit and watch the children play as they read their booklet. The caregiver can read about the intention and design of each toy and then actually see its effects on the children in real-time.</div>
          </div>
          <Image src={img29} alt="Image 29" class="self-center rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-4 w-full reveal" />
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-engram' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</DefaultLayout>