---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'
import { Image } from 'astro:assets';
import cover from '../assets/images/project-leBlond/Cover.png'
import img1 from '../assets/images/project-leBlond/02.png'
import img2 from '../assets/images/project-leBlond/03.png'
import img4 from '../assets/images/project-leBlond/05.png'
import img5 from '../assets/images/project-leBlond/06.png'
import img6 from '../assets/images/project-leBlond/07.png'
import img7 from '../assets/images/project-leBlond/08.png'
import img8 from '../assets/images/project-leBlond/09.png'
import img10 from '../assets/images/project-leBlond/11.png'
import img11 from '../assets/images/project-leBlond/12.png'
import img12 from '../assets/images/project-leBlond/13.png'
import img13 from '../assets/images/project-leBlond/14.png'
import img14 from '../assets/images/project-leBlond/15.png'
import img15 from '../assets/images/project-leBlond/16.png'
import img16 from '../assets/images/project-leBlond/17.png'
import img17 from '../assets/images/project-leBlond/18.png'
import img19 from '../assets/images/project-leBlond/19.png'
import img20 from '../assets/images/project-leBlond/20.png'
import img21 from '../assets/images/project-leBlond/21.png'
import img22 from '../assets/images/project-leBlond/22.png'
import img23 from '../assets/images/project-leBlond/23.png'
import img24 from '../assets/images/project-leBlond/24.png'
import img25 from '../assets/images/project-leBlond/25.png'
import img26 from '../assets/images/project-leBlond/26.png'
import img27 from '../assets/images/project-leBlond/27.png'
import img28 from '../assets/images/project-leBlond/28.png'
import img29 from '../assets/images/project-leBlond/29.png'
import img30 from '../assets/images/project-leBlond/30.png'
import img31 from '../assets/images/project-leBlond/31.png'
import img32 from '../assets/images/project-leBlond/32.png'
---
<html lang="en">
<head>
  <Head Title='Le Blond'/>
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border overflow-x-clip">
    <Navbar />
    <Menu />
    <!--Project-->
    <Image src={cover} alt="" class="h-lvh w-full object-cover" />
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <ProjectHeader 
            Title='LE BLOND'
            Visible1=`` Info1=`Branding`
            Visible2=`` Info2='Illustrator, Photoshop, After Effects, Figma'
            Visible3=`hidden` Info3='Knoxie le Roux, Sydney Welch, Isabelle Rigsbee, Tabby Lo'
            Visible4=`hidden` Info4='AMERICAN ADVERTISING AWARDS GREENVILLE 2024: Silver Addy - Direct Marketing'
            Body=`Le Blond is an outdoor apparel brand and retail store based in Spokane, Washington, targeting women ages 45-65 who embrace outdoor living. Inspired by the resilience of historical outdoor women like Elizabeth le Blond, the brand values dependability, authenticity, legacy, and community. It makes clothing designed to empower women to perform their best in the outdoors, embodying confidence and resilience. It’s apparel that understands you—gear you can trust, no matter where the journey leads.`
            />
          <Image src={img1} alt="" class="img-full reveal" />
          <Image src={img2} alt="" class="img-full reveal mb-0" />
          <div class="block-full my-[175px] reveal">
            <div class="text-tlg text-black dark:text-white font-sans font-thin tracking-widest pb-[50px] ">WHAT IS THE BRAND?</div>
            <div class="body-copy font-mono pb-[24px]">Le Blond positions itself as...</div>
            <div class="text-tmd text-black dark:text-white font-sans tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">The outdoor brand making apparel that reflects the strength, wit, reliability, and legacy of the women who wear it</div>
          </div>
          <Image src={img4} alt="" class="img-full mb-0 reveal" />
          <div class="block-full m-0 py-[175px] flex flex-row items-center gap-[3.255vw] lg:px-[4.199vw] reveal">
            <div class="flex flex-col lg:gap-[40px]">
              <div class="text-tlg text-black dark:text-white font-sans tracking-widest">WHO IS THIS FOR?</div>
              <div class="text-hsm text-black dark:text-white font-sans tracking-wide md:text-hmd lg:text-dsm lg:leading-tight">Ladies who live outdoors.</div>
              <div class="body-copy">For women, ages 45-65 who are active all year.  they hike, bike, ski, camp, kayak, and swim with their friends. They care about performance and reliability over style. They trust brands that know them and have a reputation.  </div>
            </div>
            <Image src={img5} alt="" class="img-full max-w-[506.277px] reveal" />
          </div>
          
          <Image src={img6} alt="" class="img-full reveal" />
          <Image src={img7} alt="" class="img-full reveal" />
          <Image src={img8} alt="" class="img-full reveal" />
          <Image src={img10} alt="" class="img-full reveal" />
          <Image src={img11} alt="" class="img-full reveal" />
          <Image src={img12} alt="" class="img-full reveal" />
          <Image src={img13} alt="" class="img-full reveal" />
          <Image src={img14} alt="" class="img-full reveal" />
          <Image src={img15} alt="" class="img-full reveal" />
          <Image src={img16} alt="" class="img-full reveal" />
          <Image src={img17} alt="" class="img-full reveal" />
          <Image src={img19} alt="" class="img-full reveal" />
          <Image src={img20} alt="" class="img-full reveal" />
          <Image src={img21} alt="" class="img-full reveal" />
          <Image src={img22} alt="" class="img-full reveal" />
          <Image src={img23} alt="" class="img-full reveal" />
          <Image src={img24} alt="" class="img-full reveal" />
          <Image src={img25} alt="" class="img-full reveal" />
          <Image src={img26} alt="" class="img-full reveal" />
          <Image src={img27} alt="" class="img-full reveal" />
          <Image src={img28} alt="" class="img-full reveal" />
          <Image src={img29} alt="" class="img-full reveal" />
          <Image src={img30} alt="" class="img-full reveal" />
          <Image src={img31} alt="" class="img-full reveal" />
          <Image src={img32} alt="" class="img-full reveal" />
          
          <div class="block-full reveal">
            <div class="header">Brief</div>
            <div class="body-copy mt-2 mb-14">Pixlmob runs a marketplace connecting real estate media companies with professional editors. However, the traditional marketplace setup posed challenges for large companies with extensive post-production needs. To overcome these challenges, Pixlmob introduced Post House, a concierge service that bypasses the limitations of a marketplace by offering personalized, high-touch solutions. Post House is designed to cater to the specific needs of high-volume real estate media companies, providing a streamlined and efficient service that aligns perfectly with their business goals.</div>
          </div>
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-play' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</body>
</html>