---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'
import { Image } from 'astro:assets';
import cover from '../assets/images/project-KIR/Cover.png'
import img1 from '../assets/images/project-KIR/1.png'
import img2 from '../assets/images/project-KIR/2.png'
import img3 from '../assets/images/project-KIR/3.png'
import img4 from '../assets/images/project-KIR/4.png'
import img5 from '../assets/images/project-KIR/5.png'
import img6 from '../assets/images/project-KIR/6.png'
import img7 from '../assets/images/project-KIR/7.png'
import img8 from '../assets/images/project-KIR/8.png'
import img9 from '../assets/images/project-KIR/9.png'
import img10 from '../assets/images/project-KIR/10.png'
import img12 from '../assets/images/project-KIR/12.png'
import img13 from '../assets/images/project-KIR/13.png'
import img14 from '../assets/images/project-KIR/14.png'
---
<html lang="en">
<head>
  <Head Title='KIR'/>
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border overflow-x-clip">
    <Navbar />
    <Menu />
    <!--Project-->
    <Image src={cover} alt="" class="h-lvh w-full object-cover" />
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <ProjectHeader 
            Title='KIR'
            Visible1=`` Info1=`Branding`
            Visible2=`` Info2='Illustrator, Photoshop, After Effects, Figma'
            Visible3=`hidden` Info3=''
            Visible4=`hidden` Info4=' '
            Body=`KIR is a car maintenance subscription box designed for car enthusiasts who value practicality and simplicity. The service takes the guesswork out of vehicle upkeep by creating a personalized maintenance plan tailored to each customer’s specific needs. Customers provide details about their car—its make, model, age, driving frequency, mileage, and available tools. From there, KIR builds a customized plan, sending exactly what’s needed, precisely when it’s needed—nothing more, nothing less. There’s no fluff, no wasted materials, and no cluttered garage shelves—just the right tools and supplies at the right time. KIR is like having a trusted mechanic in a box, enabling car owners to maintain their passion for cars without sacrificing time or space. It’s DIY car care without the “%@#!”`
            />
          <video class="img-full lg:mt-32 reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
              <source src="/project-KIR/1.mp4" type="video/mp4"/>
            <source src="/project-KIR/1_1.mp4" type="video/mp4"/>
          </video>
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="title text-black dark:text-white font-sans font-regular tracking-widest pb-10 md:pb-[50px] ">WHAT IS THE BRAND?</div>
            <div class="body-copy font-mono pb-3 md:pb-[24px]">KIR positions itself as...</div>
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">The no bs car maintenance subscription box for guys who love their cars and JUST want to keep them running.</div>
          </div>
          <Image src={img1} alt="" class="img-left reveal" />
          <Image src={img2} alt="" class="img-right reveal" />
          <Image src={img3} alt="" class="img-full reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">Cars aren’t just machines—they’re a connection to a passion, a reminder of the road you've traveled.</div>
          </div>
          <Image src={img4} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/2.mp4" type="video/mp4"/>
            <source src="/project-KIR/2_1.mp4" type="video/mp4"/>
          </video>
          <div class="block-right my-20 md:my-[175px] reveal">
            <div class="title text-black dark:text-white font-sans font-regular tracking-widest pb-10 md:pb-[50px] ">HOW DOES IT WORK?</div>
            <div class="body-copy text-black dark:text-white font-sans-ibm">You tell us what car you own, how old it is, how often you drive it, how far you drive it, and what tools you have. Then we take car of the rest. Based on your answers we create a plan for what to send you and how often to send it to you.</div>
          </div>
          <Image src={img5} alt="" class="img-full reveal" />
          <Image src={img6} alt="" class="img-full reveal" />
          <Image src={img7} alt="" class="img-full reveal" />
          <Image src={img8} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/3.mp4" type="video/mp4"/>
            <source src="/project-KIR/3_1.mp4" type="video/mp4"/>
          </video>
          <Image src={img9} alt="" class="img-left reveal" />
          <Image src={img10} alt="" class="img-right reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/5.mp4" type="video/mp4"/>
            <source src="/project-KIR/5_1.mp4" type="video/mp4"/>
          </video>
          <Image src={img12} alt="" class="img-full reveal" />
          <Image src={img13} alt="" class="img-full reveal" />
          <Image src={img14} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/4.mp4" type="video/mp4"/>
            <source src="/project-KIR/4_1.mp4" type="video/mp4"/>
          </video>
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-play' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</body>
</html>