---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import '../styles/base.css';
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'
import { Image } from 'astro:assets';
import cover from '../assets/images/project-babaAna/cover.png'
import img1 from '../assets/images/project-babaAna/01.png'
import img2 from '../assets/images/project-babaAna/02.png'
import img3 from '../assets/images/project-babaAna/03.png'
import img4 from '../assets/images/project-babaAna/04.png'
import img5 from '../assets/images/project-babaAna/05.png'
import img6 from '../assets/images/project-babaAna/06.png'
import img7 from '../assets/images/project-babaAna/07.png'
import img8 from '../assets/images/project-babaAna/08.png'
import img9 from '../assets/images/project-babaAna/09.png'
import img11 from '../assets/images/project-babaAna/11.png'
import img12 from '../assets/images/project-babaAna/12.png'
import img13 from '../assets/images/project-babaAna/13.png'
import img14 from '../assets/images/project-babaAna/14.png'
import img15 from '../assets/images/project-babaAna/15.png'
import img16 from '../assets/images/project-babaAna/16.png'
import img17 from '../assets/images/project-babaAna/17.png'
import img18 from '../assets/images/project-babaAna/18.png'
import img19 from '../assets/images/project-babaAna/19.png'
import img20 from '../assets/images/project-babaAna/20.png'
import img21 from '../assets/images/project-babaAna/21.png'
import img22 from '../assets/images/project-babaAna/22.png'
import img23 from '../assets/images/project-babaAna/23.png'
import img24 from '../assets/images/project-babaAna/24.png'
import img25 from '../assets/images/project-babaAna/25.png'
import img26 from '../assets/images/project-babaAna/26.png'
import img27 from '../assets/images/project-babaAna/27.png'
import img28 from '../assets/images/project-babaAna/28.png'
import img29 from '../assets/images/project-babaAna/29.png'
import img30 from '../assets/images/project-babaAna/30.png'
import img31 from '../assets/images/project-babaAna/31.png'
import img32 from '../assets/images/project-babaAna/32.png'
import img33 from '../assets/images/project-babaAna/33.png'
import img34 from '../assets/images/project-babaAna/34.png'
import img35 from '../assets/images/project-babaAna/35.png'
import img36 from '../assets/images/project-babaAna/36.png'
import img37 from '../assets/images/project-babaAna/37.png'
import img38 from '../assets/images/project-babaAna/38.png'
import img39 from '../assets/images/project-babaAna/39.png'
import img40 from '../assets/images/project-babaAna/40.png'
import img41 from '../assets/images/project-babaAna/41.png'
import img42 from '../assets/images/project-babaAna/42.png'
import img43 from '../assets/images/project-babaAna/43.png'
import img44 from '../assets/images/project-babaAna/44.png'

const seo = {
  title: 'Baba Ana',
  description: "Life is better with those you love, but for young city-living folks with small apartments and even smaller pantries, it can be difficult to entertain. Baba Ana is an all-day, multi-purpose gathering space in Durham, NC created to solve this problem. It blends Polish-inspired warmth, versatility, and hospitality with a curated experience that seamlessly transitions from dusk to dawn. From early-morning coffee and pastries at the bakery to fresh deli meals at lunch, a market stocked with European provisions throughout the day, and an intimate bar for evening cocktails, each part of Baba Ana has its own distinct personality, creating a dynamic rhythm that evolves to meet different needs and moods. Whether bustling with grab-and-go coffee lovers in the morning, hosting friends catching up over sandwiches in the afternoon, or inviting people to linger over craft cocktails in the evening, Baba Ana blends high-quality, Polish-inspired food and drink with an approachable, eclectic vibe. It’s more than just a place to eat—it’s a welcoming space rooted in Polish tradition, designed to foster connection, relaxation, and community, offering the spontaneity and comfort of home entertaining without the hassle, where every visit creates moments and memories that last.",
  shareImage: '/project-babaAna/cover.png'
};
---
<DefaultLayout title={seo.title} description={seo.description} shareImage={seo.shareImage}>
  <Gtag/>
    <Navbar />
    <Menu />
    <!--Project-->
    <Image src={cover} alt="" class="h-lvh w-full object-cover" />
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <ProjectHeader 
            Title='BABA ANA'
            Visible1=`` Info1=`Branding, Copy Writing, Web Design, Packaging, Animation, 3D Modeling`
            Visible2=`` Info2='Illustrator, Photoshop, After Effects, Figma'
            Visible3=`hidden` Info3=''
            Visible4=`hidden` Info4=' '
            Body={seo.description}
            studentWork=''
            />
            <!-- <Image src={img1} alt="" class="img-full reveal" /> -->
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-babaAna/01.mp4" type="video/mp4"/>
          </video>
          <Image src={img2} alt="" class="img-left reveal" />
          <Image src={img3} alt="" class="img-right reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="title text-black dark:text-white font-sans font-regular tracking-widest pb-10 md:pb-[50px] ">WHAT IS THE BRAND?</div>
            <div class="body-copy font-mono pb-3 md:pb-[24px]">Baba Ana positions itself as...</div>
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">The all-day, multi-purpose gathering space that embodies the warmth, familiarity, and versatility of home.</div>
          </div>
          <Image src={img4} alt="" class="img-full reveal" />
          <Image src={img5} alt="" class="img-left reveal" />
          <Image src={img6} alt="" class="img-right reveal" />
          <Image src={img7} alt="" class="img-full reveal" />
          <Image src={img8} alt="" class="img-full reveal" />
          <Image src={img9} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-babaAna/02.mp4" type="video/mp4"/>
          </video>
          <Image src={img11} alt="" class="img-left reveal" />
          <Image src={img12} alt="" class="img-right reveal" />
          <Image src={img13} alt="" class="img-left reveal" />
          <Image src={img14} alt="" class="img-right reveal" />
          <Image src={img15} alt="" class="img-left reveal" />
          <Image src={img16} alt="" class="img-right reveal" />
          <Image src={img17} alt="" class="img-full reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">Swing by the coffee corner, known as Baba’s Bakery, for a quick bite and your caffeine fix.</div>
          </div>
          <Image src={img18} alt="" class="img-full reveal" />
          <Image src={img19} alt="" class="img-left reveal" />
          <Image src={img20} alt="" class="img-right reveal" />
          <Image src={img21} alt="" class="img-left reveal" />
          <Image src={img22} alt="" class="img-right reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">Craving a hearty meal? Stop by the deli, lovingly known as Baba’s Bodega, for a comforting bowl of warm soup, a savory sandwich, or a selection of rich, flavorful cheeses.</div>
          </div>
          <Image src={img23} alt="" class="img-full reveal" />
          <Image src={img24} alt="" class="img-left reveal" />
          <Image src={img25} alt="" class="img-right reveal" />
          <Image src={img26} alt="" class="img-left reveal" />
          <Image src={img43} alt="" class="img-right reveal" />
          <Image src={img44} alt="" class="img-full reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">Meander through the market for groceries or a quick snack</div>
          </div>
          <Image src={img27} alt="" class="img-left reveal" />
          <Image src={img28} alt="" class="img-right reveal" />
          <Image src={img29} alt="" class="img-left reveal" />
          <Image src={img30} alt="" class="img-right reveal" />
          <Image src={img31} alt="" class="img-full reveal" />
          <Image src={img32} alt="" class="img-left reveal" />
          <Image src={img33} alt="" class="img-right reveal" />
          <Image src={img34} alt="" class="img-left reveal" />
          <Image src={img35} alt="" class="img-right reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">Not ready to call it a night? Head upstairs to the hidden bar for craft drinks and great laughs.</div>
          </div>
          <Image src={img36} alt="" class="img-left reveal" />
          <Image src={img37} alt="" class="img-right reveal" />
          <Image src={img38} alt="" class="img-left reveal" />
          <Image src={img39} alt="" class="img-right reveal" />
          <Image src={img40} alt="" class="img-left reveal" />
          <Image src={img41} alt="" class="img-right reveal" />
          <Image src={img42} alt="" class="img-full reveal" />
          <div class="font-mono italic font-light text-tsm text-right opacity-50 col-span-full my-3 md:my-5">Mockups for conceptual purposes only</div>
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-leBlond' Secondary='Check Out the Playground' SecondaryLink='playground'/>
</DefaultLayout>