---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'
import { Image } from 'astro:assets';
import cover from '../assets/images/project-KIR/Cover.png'
import img1 from '../assets/images/project-KIR/1.png'
import img2 from '../assets/images/project-KIR/2.png'
import img3 from '../assets/images/project-KIR/3.png'
import img4 from '../assets/images/project-KIR/4.png'
import img5 from '../assets/images/project-KIR/5.png'
import img6 from '../assets/images/project-KIR/6.png'
import img7 from '../assets/images/project-KIR/7.png'
import img8 from '../assets/images/project-KIR/8.png'
import img9 from '../assets/images/project-KIR/9.png'
import img10 from '../assets/images/project-KIR/10.png'
import img12 from '../assets/images/project-KIR/12.png'
import img13 from '../assets/images/project-KIR/13.png'
import img14 from '../assets/images/project-KIR/14.png'
import img15 from '../assets/images/project-KIR/15.png'
import img16 from '../assets/images/project-KIR/16.png'
---
<html lang="en">
<head>
  <Head Title='KIR'/>
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border overflow-x-clip">
    <Navbar />
    <Menu />
    <!--Project-->
    <Image src={cover} alt="" class="h-lvh w-full object-cover" />
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <ProjectHeader 
            Title='KIR'
            Visible1=`` Info1=`Branding`
            Visible2=`` Info2='Illustrator, Photoshop, After Effects, Figma'
            Visible3=`hidden` Info3=''
            Visible4=`hidden` Info4=' '
            work='Student work'
            Body=`KIR is a car maintenance subscription box designed for car enthusiasts who value practicality and simplicity. The service takes the guesswork out of vehicle upkeep by creating a personalized maintenance plan tailored to each customer’s specific needs. Customers provide details about their car—its make, model, age, driving frequency, mileage, and available tools. From there, KIR builds a customized plan, sending exactly what’s needed, precisely when it’s needed—nothing more, nothing less. There’s no fluff, no wasted materials, and no cluttered garage shelves—just the right tools and supplies at the right time. KIR is like having a trusted mechanic in a box, enabling car owners to maintain their passion for cars without sacrificing time or space. It’s DIY car care without the “%@#!”`
            />
          <video class="img-full lg:mt-32 reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/1_1.mp4" type="video/mp4"/>
          </video>
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="title text-black dark:text-white font-sans font-regular tracking-widest pb-10 md:pb-[50px] ">WHAT IS THE BRAND?</div>
            <div class="body-copy font-mono pb-3 md:pb-[24px]">KIR positions itself as...</div>
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">The no bs car maintenance subscription box for guys who love their cars and JUST want to keep them running.</div>
          </div>
          <Image src={img1} alt="" class="img-left reveal" />
          <Image src={img2} alt="" class="img-right reveal" />
          <Image src={img3} alt="" class="img-full reveal" />
          <div class="block-full my-20 md:my-[175px] reveal">
            <div class="text-hmd text-black dark:text-white font-sans font-extralight tracking-wide md:text-hlg lg:text-dsm lg:leading-tight">Cars aren’t just machines—they’re a connection to a passion, a reminder of the road you've traveled.</div>
          </div>
          <Image src={img4} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/2_1.mp4" type="video/mp4"/>
          </video>
          <div class="block-full my-5 md:my-[175px] flex flex-col md:flex-row items-center md:justify-between gap-7 lg:mx-[8.104vw] reveal">
            <Image src={img15} alt="" class="img-full mb-3 md:m-0 min-w-60 md:max-w-[23.984vw] reveal" />
            <div class="flex flex-col gap-3 md:justify-between h-full md:max-w-[600px]">
              <div class="text-tlg text-black dark:text-white font-sans font-light tracking-widest">Brand Story</div>
              <div class="body-copy">For guys like Wyatt Reed, having a few years under their belt and kids in the home, maintaining their connection to cars can become a hassle. The clutter of leftover supplies, the mental load of keeping track of every oil change, filter, and part—it all builds up until your garage is less of a workspace and more of a storage problem. That’s where Wyatt decided enough was enough.</div>
            </div>
          </div>
          <Image src={img5} alt="" class="img-full reveal" />
          <div class="block-full my-5 md:my-[175px] flex flex-col gap-7 md:flex-row items-center md:justify-between lg:mx-[8.104vw] reveal">
            <div class="flex flex-col gap-3 md:justify-between md:h-full max-w-[600px]">
              <div class="text-tlg text-black dark:text-white font-sans font-light tracking-widest">Wyatt grew up in Redlands, California</div>
              <div class="body-copy">a place where the thrill of the outdoors, the buzz of the city, and the adrenaline of broken bones and burnt rubber shaped who he is. As he got older, things changed. He couldn't live on the edge like he used to. So he went from helmet-less hot rods to vintage cars. When Wyatt started a family, the garage was no longer just for his cars. It became a space shared with kids’ bikes and toys, and the mental space for constant car maintenance got squeezed out. Wyatt loved his vintage 1987 Ford Bronco ii, but keeping it running started to feel like a chore.</div>
            </div>
            <Image src={img16} alt="" class="img-full mb-3 md:m-0 min-w-60 md:max-w-[426.197px] reveal" />
          </div>
          <Image src={img6} alt="" class="img-full reveal" />
          <div class="block-full flex flex-col gap-7 mb-10 mt-10 md:my-[175px] md:flex-row justify-between lg:mx-[3.827vw] reveal">
            <div class="text-hsm text-black dark:text-white font-sans font-light tracking-widest ">That’s when Wyatt knew there had to be a better way—a way that made keeping his car in shape simple, without the clutter or the hassle. Thus, the no-nonsense car maintenance box was born.</div>
            <div class="body-copy">Tell us about your car, how often you drive it, and what tools you have. We’ll take care of the rest. We send exactly what you need, when you need it—nothing more, nothing less. No fluff, no wasted materials, no cluttered garage shelves. You’ll always have the right tools and supplies at hand, and you’ll never be caught off guard when your car needs attention. We're a mechanic shop in a box, allowing you to keep your love for cars without giving up everything else. Simply put we're DIY car care without the "%@#!"</div>
          </div>
          <Image src={img8} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/3_1.mp4" type="video/mp4"/>
          </video>
          <Image src={img9} alt="" class="img-left reveal" />
          <Image src={img10} alt="" class="img-right reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/5_1.mp4" type="video/mp4"/>
          </video>
          <Image src={img12} alt="" class="img-full reveal" />
          <Image src={img13} alt="" class="img-full reveal" />
          <Image src={img14} alt="" class="img-full reveal" />
          <video class="img-full reveal" autoplay="" loop="" muted playsinline="" data-object-fit="cover">
            <source src="/project-KIR/4_1.mp4" type="video/mp4"/>
          </video>
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-leBlond' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</body>
</html>