---
interface Props {
    Title: string;
	Subject: string;
	Role: string;
	Timeline: string;
    Preview: string;
    Link: string;
    Num: string;
}

const { Title, Subject, Role, Timeline, Preview, Link, Num } = Astro.props;
---


<div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
    <div class="text-dsm text-black dark:text-white font-medium tracking-widest col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">{Title}</div>
    <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>{Subject}</div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>{Role}</div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>{Timeline}</div>
</div>
    <a href={"javascript:delay('" + Link + "')"} class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id={Num}>
        <img src={Preview} alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
    </a>
</div>