---
// Accept SEO props and any additional parameters.
interface Props {
  title: string;
  description: string;
  shareImage: string;
}
const { title, description, shareImage, } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="keywords" content="graphic design, portfolio, visual design, branding, logo design, ..." />
    <meta name="author" content="Ethan Wright" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Open Graph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.theethanwright.com" />
    <meta property="og:image" content={shareImage} />
    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content={shareImage} />
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: light)" href="/favicon-light.svg">
    <link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: dark)" href="/favicon-dark.svg">
    <link rel="stylesheet" href="/animations.css">

    <!-- Place additional links, favicons, and scripts here -->
    <script defer src="/app.js" is:inline></script>

    <!-- Google Tag Manager -->
    <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-55T4FLRM');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-white dark:bg-black box-border overflow-x-clip">
    <slot />
  </body>
</html>